@media (max-width: 1199px) {
    .form-div {
        width: 23.8%;
        margin-right: 15px;
    }
    .booking__input {
        width: 100%;
    }

    .button {
        width: 100%;
    }
    
    .form-div-check {
        width: 100%;
    }

    .image-container {
        max-width: 50%;
        height: 100%;
    }

    .about__wrapper {
        flex-wrap: nowrap;
    }

    label.error {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .promo {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .container{
        max-width: 991px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .header__logo {
        width: 130px;
    }

    .header__hamburger {
        margin-left: 17px;
    }

    .header__menu {
        padding-left: 10px;
    }

    .header__item {
        margin-right: 15px;
    }

    .header__link {
        font-size: 14px;
    }

    .header__contact {
        display: none;
    }

    .form-div {
        width: 23.8%;
        margin-right: 10px;
    }

    .booking__input {
        padding: 0px 10px 0px 10px;
        font-size: 15px;
        margin-right: 10px;
    }
    
    .form-div-check {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .promo {
        min-height: 976px;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .container{
        max-width: 767px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .header {
        min-height: 90px;
    }

    .header__logo {
        width: 120px;
    }

    .header__hamburger {
        position: absolute;
        right: 15px;
        top: 13px;
    }

    .header__nav {
        min-width: 124px;
        position: absolute;
        right: 0px;
        top: 45px;
    }
    
    .header__menu_active {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .56);
        padding: 3px 0 10px 5px;
    }

    .header__item {
        margin: 8px 20px 8px 20px;
    }
    
    .header__link {
        font-size: 16px;
    }

    .promo__container {
        margin-top: 150px;
        margin-bottom: 96px;
    }

    .promo__box {
        margin-top: 64px;
    }

    .promo__container {
        margin-top: 96px;
        margin-bottom: 59px;
    }

    .promo__title {
        font-size: 28px;
    }

    .promo__subtitle {
        font-size: 15px;
        margin-top: 60px;
    }

    .booking__title {
        font-size: 29px;
    }

    .booking__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .form-div {
        width: 61.8%;
        margin-right: 0px;
    }

    .booking__input {
        margin-right: 0px;
    }

    .button {
        font-size: 14px;
    }
    
    label.error {
        max-width: 255px;
        margin-bottom: 17px;
        margin-top: -15px;
    }

    label#checkbox-error.error {
        margin-top: 4px;
    }

    .services {
        padding-top: 30px;
    }

    .image-container__text-overlay {
        bottom: 20px;
        left: 20px;
        padding: 0px;
        font-size: 20px;
    }

    .about {
        padding: 37px 0 52px 0;
    }

    .about__title {
        padding-bottom: 12px;
    }

    .about__subtitle {
        font-size: 22px;
    }

    .about__wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .about__item  {
        max-width: 46%;
        font-size: 14px;
        margin-right: 0px;
    }


    .aero-park {
        padding: 30px 0 15px 0;
    }

    .aero-park__title {
        font-size: 34px;
    }

    .park-item {
        max-width: 350px;
    }




    .client {
        padding: 26px 0 25px 0;
    }

    .client__subtitle {
        font-size: 21px;
    }

    .swiper-span {
        font-size: 17px;
        line-height: 21px;
    }

    .swiper-desc {
        width: 97%;
        line-height: 30px;
        padding: 23px 17px;
        margin: 20px 0px 20px 0px;
    }

    .swiper {
        position: static;
        padding: 20px 0 35px 0;
    }

    .mySwiper {
        display: none;
    }

    .swiper-slide {
        display: block;
    }

    .mySwiper2 .swiper-img {
        width: 100%;
    }

    .swiper-img {
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
    }
    
    .swiper-slide img {
        max-width: 50%;
        margin-right: 20px;
    }

    .swiper-button-prev {
        bottom: 33px;
        top: unset;
        left: 36px;
    }
    
    .swiper-button-next {
        top: unset;
        bottom: 33px;
        right: 52px;
        left: unset;
    }

    .address {
        padding: 30px 0 40px 0;
    }

    .address_wrapper {
        flex-wrap: wrap;
    }

    .address__email {
        margin-bottom: 25px;
    }

    .address__map {
        display: none;
    }

    .address__map-mobile {
        display: block;
        width: 100%;
    }





    .footer-booking {
        min-height: 341px;
        padding: 60px 0 30px 0;
    }

    .footer-booking .booking__title {
        text-align: center;
    }

    .footer__wrapper {
        justify-content: center;
    }

    .footer__span {
        display: none;
    }





    .modal {
        width: 329px;
        height: 325px;
        padding: 82px 0 0 0;
    }

    .modal__subtitle {
        font-size: 28px;
        line-height: 55px;
    }

    .modal__desc {
        font-size: 22px;
    }


}

@media (max-width: 480px) {
    .promo{
        min-height: 850px;
        background-color: #000000;
        padding-top: 15px;
        padding-bottom: 60px;
    }
    .container{
        max-width: 480px;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    .header {
        display: block;
    }

    .header__wrapper {
        position: relative;
    }

    .header__contact {
        display: none;
    }

    .header__hamburger {
        margin-top: 0;
        right: 0px;
        top: 3px;
    }

    .header__nav {
        min-width: 124px;
        position: absolute;
        right: 0;
        top: 23px;
    }
    
    .header__menu_active {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .56);
        padding: 3px 0 10px 5px;
    }

    .header__item {
        margin: 8px 14px 7px 20px;
    }

    .header__link {
        font-size: 14px;
    }

    .header__item:last-child {
        margin-bottom: 0px;
    }

    .promo__box {
        margin-top: 40px;
        max-width: 224px;
        min-height: 105px;
    }

    .promo__title {
        font-size: 24px;
        line-height: 34.68px;
    }

    .promo__container-title {
        font-size: 20px;
    }

    .promo__subtitle {
        max-width: 357px;
        margin-top: 23px;
        font-size: 16px;
        line-height: 1.5;
    }

    .promo__container {
        margin: 30px 0 30px 0;
    }

    .booking__title {
        font-size: 24px;
    }

    .form-div {
        width: 100%;
        margin-right: 0px;
    }

    .booking__input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .button {
        width: 100%;
        font-size: 16px;
    }





    .services {
        padding-top: 30px;
    }

    .services__title {
        font-size: 24px;
        line-height: 34.68px;
    }

    .services__desc {
        line-height: 23px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .services__wrapper {
        display: none;
    }


    .swiperPhone.swiperPhone  {
        display: block;
        width: 100%;
        max-height: 415px;
    }

    .swiperPhone .swiper-slide {
        width: 100%;
        height: 415px;
        max-height: 415px;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .swiperPhone .swiper-slide-active.swiper-slide-active {
        width: 100%;
        max-height: 415px;
        position: relative;
    }
  
    .swiperPhone .swiper-slide img {
        display: block;
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-right: 0px;
    }
  
    .swiperPhone .swiper-slide span {
        display: block;
        position: absolute;
        bottom: 15px;
        left: 10px;
        font-family: Jost;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #FFFFFF;
    }





    .about {
        padding: 10px 0 30px 0;
    }

    .about__title {
        font-size: 24px;
        padding: 0;
    }

    .about__subtitle {
        width: 100%;
        font-size: 20px;
        line-height: 1.4;
        padding-bottom: 15px;
    }
    
    .about__wrapper {
        gap: 10px;
    }

    .about__item  {
        max-width: 48%;
    }





    .aero-park {
        padding: 30px 0 20px 0;
    }

    .aero-park__title {
        font-size: 26px;
    }

    .park-item {
        max-width: 100%;
        margin-right: 0;
    }

    .park-item img {
        width: 100%;
    }





    .client__title {
        font-size: 24px;
    }

    .client__subtitle {
        width: 100%;
        font-size: 20px;
        line-height: 28.9px;
    }

    .swiper {
        position: static;
        padding: 20px 0 50px 0;
    }

    .mySwiper {
        display: none;
    }

    .swiper-slide {
        display: block;
    }

    .swiper-img {
        width: 100%;
        display: flex;
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
    }
    
    .swiper-slide img {
        width: 50%;
        margin-right: 20px;
    }

    .swiper-log {
        width: 50%;
    }

    .mySwiper2 .swiper-slide img {
        max-width: 50%;
        margin-right: 20px;
    }

    .swiper-top {
        width: 50%;
    }
    
    .swiper-span {
        font-family: Jost;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
    }

    .swiper-desc {
        width: 86%;
        line-height: 23px;
        padding: 15px 20px;
        margin-top: 25px;
        border-radius: 5%;
        overflow: hidden;
    }

    .swiper-button-prev {
        bottom: 33px;
        top: unset;
        left: 36px;
    }
    
    .swiper-button-next {
        top: unset;
        bottom: 33px;
        right: 52px;
        left: unset;
    }

    .swiper-wrapper-mini {
        display: none;
    }





    .address {
        padding: 30px 0 40px 0;
    }

    .address_wrapper {
        flex-wrap: wrap;
    }

    .address__email {
        margin-bottom: 25px;
    }

    .address__map {
        display: none;
    }

    .address__map-mobile {
        display: block;
        width: 100%;
    }

    .footer-booking {
        padding: 60px 0 50px 0;
    }

    .footer__wrapper {
        padding: 13px 0 0 0;
    }
    
    .footer__span {
        display: none;
    }

    .modal {
        max-width: 250px;
        height: 302px;
        padding: 69px 0 0 0;
    }

    .modal__subtitle {
        font-size: 21px;
    }

    .modal__desc {
        font-size: 16px;
        margin: 24px 15px;
        line-height: 25px;
    }

    .modal__close {
        font-size: 45px;
    }
}

@media (max-width: 320px) {
    .promo{
        min-height: 920px;
        background-color: #000000;
        background-image: url("../img/bgmobile.png");
        background-position: top;
        background-repeat: no-repeat;
        background-size: 320px 213px;
        padding-top: 15px;
        padding-bottom: 60px;
    }
    .container{
        max-width: 320px;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    .header__wrapper {
        position: relative;
    }

    .header__contact {
        display: none;
    }


    .header__hamburger {
        position: absolute;
        right: -5px;
        top: -3px;
    }

    .header__nav {
        min-width: 124px;
        position: absolute;
        right: -3px;
        top: 23px;
    }
    
    .header__menu_active {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .56);
        padding: 3px 0 10px 5px;
    }

    .header__item {
        margin-bottom: 6px;
    }

    .header__link {
        font-size: 14px;
    }

    .header__item:last-child {
        margin-bottom: 0px;
    }

    .promo__box {
        margin-top: 40px;
        max-width: 224px;
        min-height: 105px;
    }

    .promo__title {
        font-size: 24px;
        line-height: 34.68px;

    }

    .promo__container-title {
        font-size: 20px;
    }

    .promo__subtitle {
        max-width: 357px;
        margin-top: 23px;
        font-size: 16px;
        line-height: 1.5;
    }

    .promo__container {
        margin: 20px 0 30px 0;
    }

    .booking__title {
        font-size: 24px;
    }

    .booking__input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .button {
        width: 100%;
        font-size: 16px;
    }




    .services {
        padding-top: 30px;
    }

    .services__title {
        font-size: 24px;
        line-height: 34.68px;
    }

    .services__desc {
        line-height: 23px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .services__wrapper {
        display: none;
    }

    .slider {
        display: block;
    }

    .slider-wrapper {
        max-width: 100%;
    }

    .slider-container__options img {
        width: 100%;
        height: 415px;
        object-fit: cover;
    }

    .swiperPhone .swiper-slide span {
        bottom: 10px;
    }





    .about {
        padding: 10px 0 30px 0;
    }

    .about__title {
        font-size: 24px;
        padding: 0;
    }

    .about__subtitle {
        max-width: 280px;
        font-size: 20px;
        line-height: 1.4;
        padding-bottom: 15px;
    }
    
    .about__wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0;
    }

    .about__item  {
        max-width: 48%;
        margin-right: 0;
        margin-bottom: 15px;
    }






    .aero-park {
        padding: 30px 0 20px 0;
    }

    .aero-park__title {
        font-size: 26px;
    }

    .park-item {
        max-width: 280px;
        margin-right: 0;
    }

    .park-item img {
        width: 100%;
    }




    .client__title {
        font-size: 24px;
    }

    .client__subtitle {
        max-width: 280px;
        font-size: 20px;
        line-height: 28.9px;
    }

    .swiper {
        position: static;
        /* flex-wrap: wrap; */
        min-height: 92px;
        padding: 20px 0 50px 0;
        min-width: 0;
    }

    .mySwiper {
        display: none;
    }

    .swiper-slide {
        display: block;
    }

    .swiper-img {
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
    }
    
    .swiper-slide img {
        max-width: 50%;
        margin-right: 20px;
    }
    
    .swiper-span {
        font-family: Jost;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
    }

    .swiper-desc {
        width: 86%;
        line-height: 21px;
        padding: 15px 20px;
        margin-top: 25px;
        border-radius: 5%;
        overflow: hidden;
    }

    .swiper-button-prev {
        top: unset;
        left: 30px;
        bottom: 37px;
    }
    
    .swiper-button-next {
        top: unset;
        right: 30px;
        left: unset;
        bottom: 37px;
    }


    .address {
        padding: 30px 0 40px 0;
    }

    .address_wrapper {
        flex-wrap: wrap;
    }

    .address__email {
        margin-bottom: 25px;
    }

    .address__map {
        display: none;
    }

    .address__map-mobile {
        display: block;
    }

    .footer-booking {
        padding: 60px 0 50px 0;
    }

    .footer__wrapper {
        padding: 13px 0 0 0;
    }
    
    .footer__span {
        display: none;
    }


    .modal {
        max-width: 210px;
        height: 280px;
        padding: 60px 0 0 0;
    }

    .modal__subtitle {
        font-size: 18px;
    }

    .modal__desc {
        font-size: 16px;
    }

    .modal__close {
        font-size: 45px;
    }


}